
body {
    background:#17191f; 
    color:#fff;
 }
 
body{margin:0;
     padding:0; 
     background:#14161b;
    font-family: 'Barlow Semi Condensed', sans-serif;
    }
ul{margin:0; padding:0; width:100%; float:left;}
ul li{list-style:none; float:left;}

@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
